.gIjBHy {
    display: flex;
    -webkit-box-pack: start;
    justify-content: start;
    border: 1px solid rgb(223, 225, 229);
    border-radius: 6px;
    -webkit-box-align: stretch;
    align-items: stretch;
}
.gIjBHy input {
    border: none;
}
.cFacMg {
    padding: 12px;
    border-radius: 6px;
    border: 1px solid rgb(223, 225, 229);
    width: 100%;
    font-size: 14px;
    color: rgb(34, 34, 34);
    background: rgb(255, 255, 255);
}
.fKuasZ {
    color: rgb(51, 146, 243);
    transition: opacity 200ms ease 0s;
    border: 1px solid rgb(51, 146, 243);
    background: rgba(51, 146, 243, 0.1);
    white-space: nowrap;
    border-radius: 6px;
    margin: 4px;
    padding: 0px 12px;
}